*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    flex-direction: column;
    height: 100vh;
}

main{
    height: 100vh;
}

h1{
    color: darkslategray;
    margin: 15px;
    padding: 10px;
    text-align: center;
}

form{
    place-items: center;
    display: grid;
    gap: 15px;
}

#caixas-de-texto{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#B{
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 0fr;
    gap: 15px;
    width: 100vh;
}

button{
    background-color: rgb(80, 124, 124);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

#resultado{
    grid-column: 1 / -1;
    color:rgb(32, 51, 51);
}
